In [10]:
import pandas as pd 
import edhec_risk_kit as erk
import numpy as np

In [5]:
rets = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", 
                   header = 0, index_col=0, parse_dates = True, 
                     na_values = -99.99 )
rets = rets[["Lo 20", "Hi 20"]]/100

rets

         Lo 20   Hi 20
192607 -0.0057  0.0333
192608  0.0384  0.0233
192609 -0.0048 -0.0009
192610 -0.0329 -0.0295
192611 -0.0055  0.0316
...        ...     ...
201808  0.0309  0.0249
201809 -0.0204  0.0019
201810 -0.1052 -0.0741
201811 -0.0278  0.0249
201812 -0.1477 -0.0921

[1110 rows x 2 columns]

Calculating the Annualized Returns:

In [9]:
n_months = rets.shape[0]
return_per_month = (1+rets).prod()**(1/n_months)-1
annualized_returns = (1+return_per_month)**12 - 1
annualized_returns

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

Annualized Volatility:

In [12]:
annualized_volatility = rets.std()*np.sqrt(12)
annualized_volatility

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

Calculating the Annualized Return over the period 1999-2015