In [10]:
import pandas as pd 
import edhec_risk_kit as erk
import numpy as np

In [18]:
rets = pd.read_csv("data/Portfolios_Formed_on_ME_monthly_EW.csv", 
                   header = 0, index_col=0, parse_dates = True, 
                     na_values = -99.99 )
rets = rets[["Lo 20", "Hi 20"]]/100

rets.index = pd.to_datetime(rets.index, format = "%Y%m").to_period("M")
rets

          Lo 20   Hi 20
1926-07 -0.0057  0.0333
1926-08  0.0384  0.0233
1926-09 -0.0048 -0.0009
1926-10 -0.0329 -0.0295
1926-11 -0.0055  0.0316
...         ...     ...
2018-08  0.0309  0.0249
2018-09 -0.0204  0.0019
2018-10 -0.1052 -0.0741
2018-11 -0.0278  0.0249
2018-12 -0.1477 -0.0921

[1110 rows x 2 columns]

Calculating the Annualized Returns:

In [19]:
n_months = rets.shape[0]
return_per_month = (1+rets).prod()**(1/n_months)-1
annualized_returns = (1+return_per_month)**12 - 1
annualized_returns

Lo 20    0.151977
Hi 20    0.098490
dtype: float64

Annualized Volatility:

In [20]:
annualized_volatility = rets.std()*np.sqrt(12)
annualized_volatility

Lo 20    0.336701
Hi 20    0.195116
dtype: float64

Calculating the Annualized Return over the period 1999-2015

In [27]:
rets_period = rets["1999":"2015"]
n_months = rets_period.shape[0]
returns_per_month = (1+rets_period).prod()**(1/n_months) - 1
annualized_returns = (1+returns_per_month)**12 - 1
annualized_returns

Lo 20    0.114426
Hi 20    0.062865
dtype: float64

In [29]:
annualized_volatility = rets_period.std()*np.sqrt(12)
annualized_volatility

Lo 20    0.228894
Hi 20    0.172713
dtype: float64

Max Drawdown over 1999-2015

In [41]:
max_drawdown = erk.drawdown(rets_period["Lo 20"])
max_drawdown.min()

Wealth      1034.189842
Peaks       1111.400000
Drawdown      -0.624809
dtype: float64

In [42]:
max_drawdown = erk.drawdown(rets_period["Lo 20"])
max_drawdown.idxmin()

Wealth      1999-03
Peaks       1999-01
Drawdown    2009-02
dtype: period[M]

In [44]:
max_drawdown = erk.drawdown(rets_period["Hi 20"])
max_drawdown.min()

Wealth       721.706638
Peaks       1015.300000
Drawdown      -0.552735
dtype: float64

In [43]:
max_drawdown = erk.drawdown(rets_period["Hi 20"])
max_drawdown.idxmin()

Wealth      2002-09
Peaks       1999-01
Drawdown    2009-02
dtype: period[M]

EDHEC Hedge fund

In [49]:
hfi = pd.read_csv("data/edhec-hedgefundindices.csv", 
                   header = 0, index_col=0, parse_dates = True)["2009":]
hfi

,Convertible Arbitrage,CTA Global,Distressed Securities,Emerging Markets,Equity Market Neutral,Event Driven,Fixed Income Arbitrage,Global Macro,Long/Short Equity,Merger Arbitrage,Relative Value,Short Selling,Funds Of Funds
date,,,,,,,,,,,,,
2009-01-31,4.91,-0.16,0.82,-1.12,0.79,1.32,1.12,0.29,-0.17,0.56,1.00,2.82,0.60
2009-02-28,1.64,-0.31,-1.22,-1.33,-0.46,-0.91,0.65,-0.55,-1.61,0.06,-0.16,3.28,-0.37
2009-03-31,2.35,-1.80,0.22,3.50,0.21,1.17,0.57,0.48,1.88,1.25,1.00,-4.62,0.08
2009-04-30,5.00,-1.40,3.87,6.63,-0.12,3.37,2.21,1.27,3.75,0.81,3.42,-8.20,0.92
2009-05-31,5.78,2.13,5.04,8.84,1.46,4.42,3.65,3.48,5.16,1.07,3.92,0.08,3.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-07-31,0.21,-0.58,0.93,0.40,-0.10,0.55,0.22,-0.14,0.67,-0.21,0.45,-0.52,0.18
2018-08-31,0.24,1.66,0.02,-2.77,0.04,0.11,0.17,-0.07,0.35,0.50,-0.02,-2.14,0.15
2018-09-30,0.34,-0.54,0.50,-1.10,-0.16,0.32,0.36,0.06,-0.23,0.28,0.18,0.36,-0.22
2018-10-31,-0.73,-3.14,-1.58,-3.15,-1.29,-2.57,-0.23,-0.96,-4.02,-0.80,-1.09,2.37,-2.69
2018-11-30,-0.68,-0.53,-1.93,1.20,-2.11,-0.34,-0.67,-0.87,-0.44,1.19,-0.63,-0.21,-0.71

In [50]:
erk.semideviation(hfi).sort_values()

Fixed Income Arbitrage    0.332054
Merger Arbitrage          0.361121
Global Macro              0.507508
Equity Market Neutral     0.518610
Relative Value            0.571123
Convertible Arbitrage     0.668103
Funds Of Funds            0.794842
Distressed Securities     0.949845
Event Driven              1.013464
CTA Global                1.099578
Long/Short Equity         1.213857
Emerging Markets          1.527598
Short Selling             2.124006
dtype: float64

In [52]:
erk.skewness(hfi).sort_values()

Equity Market Neutral    -0.896327
Funds Of Funds           -0.646908
Merger Arbitrage         -0.551065
Event Driven             -0.488821
Long/Short Equity        -0.463703
Distressed Securities    -0.254944
Emerging Markets          0.033123
CTA Global                0.052062
Relative Value            0.159953
Global Macro              0.348184
Short Selling             0.456518
Fixed Income Arbitrage    1.121453
Convertible Arbitrage     1.305911
dtype: float64

In [54]:
hfi = pd.read_csv("data/edhec-hedgefundindices.csv", 
                   header = 0, index_col=0, parse_dates = True)["2000":]
hfi

erk.kurtosis(hfi).sort_values()

CTA Global                 2.845022
Global Macro               3.653278
Short Selling              4.352758
Long/Short Equity          4.472589
Merger Arbitrage           4.520785
Event Driven               5.543444
Emerging Markets           5.941289
Distressed Securities      6.231720
Funds Of Funds             7.584725
Relative Value            12.731096
Equity Market Neutral     20.329621
Convertible Arbitrage     23.001449
Fixed Income Arbitrage    33.378729
dtype: float64